name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build and Push
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/flask-app:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/flask-app:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Amazon Linux EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }} # Must be 'ec2-user' in GitHub Secrets
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # Clean up old containers to prevent port conflicts
            docker stop my-app || true
            docker rm my-app || true
            
            # Pull the fresh image from Docker Hub
            docker pull ${{ secrets.DOCKER_USERNAME }}/flask-app:latest
            
            # Run the container mapping Port 80 to your App Port (5000 or 8000)
            docker run -d --name my-app -p 80:5000 ${{ secrets.DOCKER_USERNAME }}/flask-app:latest